body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

#header h1 {
  margin: 0;
}

.files-list {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

th {
  background-color: #007bff;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

tr:last-child td {
  border-bottom: none;
}

.file-name {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.download-button,
.share-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s, transform 0.3s;
}

.share-button {
  background-color: #4caf50;
  margin-left: 8px;
}

.download-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.share-button:hover {
  background-color: #3d8b40;
  transform: translateY(-2px);
}

/* Share Modal */
.share-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
}

h3 {
  margin: 0 0 20px;
  text-align: center;
}

.share-emails,
.email-list,
.share-link,
.link-permissions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

input[type="email"],
input[type="text"],
select {
  padding: 6px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  width: 100%;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.close-modal {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #f44336;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.close-modal:hover {
  background-color: #d32f2f;
}

/* Upload Modal */
.upload-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
}

.upload-container span {
  margin-right: 80px;
}

.upload-container button {
  padding-left: 10px;
  padding-right: 10px;
}

.file-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.file-input-label {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s, transform 0.3s;
}

.file-input-label:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

input[type="file"] {
  display: none;
}

.upload-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

progress {
  width: 100%;
}

.upload-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancel-button,
.confirm-upload-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s, transform 0.3s;
}

.cancel-button {
  background-color: #f44336;
}

.confirm-upload-button {
  background-color: #4caf50;
}

.cancel-button:hover {
  background-color: #d32f2f;
  transform: translateY(-2px);
}

.confirm-upload-button:hover {
  background-color: #3d8b40;
  transform: translateY(-2px);
}
